body{
    background-color:antiquewhite
}

#bookContainer{
    
    display:grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-auto-rows: repeat(auto-fit, minmax(200px,1fr));

    gap: 10px;
}

.bookCard{
    border: 1px solid red;
    border-radius: 3%;

    background-color: lightblue;
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-left: 10%;
    
}

#deleteBtn{
    background-color: rgba(255, 0, 0, .5);
    color: white;
    border: 1px solid white;
    width: 15%;
    padding: 3px;
    border-radius: 25%;
    
}

#deleteBtn:hover{
    background-color: rgba(255, 0, 0, .8);
    
}

/* Modal Dialog */
dialog::backdrop{
    backdrop-filter: blur(1px) ;
}

#bookField{
    
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-bottom: 10%;
    padding: 2%;

    min-width: 400px;

    /* removes gray border */
    border:none;
}

