body{
    background-color:antiquewhite
}

#bookContainer{
    
    display:grid;
    grid-template-columns: repeat(3, minmax(250px, 400px));
    grid-auto-rows: repeat(auto-fit, minmax(200px,1fr));

    gap: 10px;
}

.bookCard{
    border: 1px solid red;
    border-radius: 3%;
    background-color: lightblue;
    padding: 2%;
    padding-left: 10%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5,1fr);
    
}

#deleteBtn{
    background-color: rgba(255, 0, 0, .5);
    color: white;
    border: 1px solid white;
    padding: 3px;
    border-radius: 25%;
    grid-row:5;
    grid-column: 1;
    
}

#deleteBtn:hover{
    background-color: rgba(255, 0, 0, .8);
}

#readBox{
    padding: 0;
    margin:0;
    grid-row:5;
    grid-column: 2;
}

.bookCard>p:nth-child(1){
    grid-column: 1/3;
    grid-row:1;
} 

.bookCard>p:nth-child(2){
    grid-column: 1/3;
    grid-row: 2;
} 

.bookCard>p:nth-child(3){
    grid-column: 1/3;
    grid-row: 3;
} 

.bookCard>p:nth-child(4){
    grid-column: 1/3;
    grid-row: 4;
} 



/* Modal Dialog */
dialog::backdrop{
    backdrop-filter: blur(1px) ;
}

#bookField{
    
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-bottom: 10%;
    padding: 2%;

    min-width: 400px;

    /* removes gray border */
    border:none;
}

