body{
    background-color:antiquewhite
}

#bookContainer{
    
    display:grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-auto-rows: repeat(auto-fit, minmax(200px,1fr));

    gap: 10px;
}

.bookCard{
    border: 1px solid red;
    background-color: lightblue;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-left: 10%;
    
}