body{
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-family:'Courier New', Courier, monospace;
}

#newBookBtn{
    width: 200px;
    height: 100px;
    
    margin: 20px;
    
}


#bookContainer{
    
    display:grid;
    grid-template-columns: repeat(3, minmax(250px, 400px));
    grid-auto-rows: repeat(auto-fit, minmax(200px,1fr));

    gap: 10px;
}

/* BOOK CARDS */
.bookCard{
    border: 1px solid darkgrey;
    border-radius: 3%;
    background-color: whitesmoke;
    
    padding-bottom: 10px;

    text-align: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5,1fr);
    
}

#deleteBtn{
    background-color: rgba(255, 0, 0, .5);
    color: white;
    font-weight: 700;
    border:0;

    width: 50px;


    grid-row:5;
    grid-column: 2;

    display:flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    
}

#deleteBtn:hover{
    background-color: red;
}

#readBox{
    padding: 0;
    margin:0;
    grid-row:5;
    grid-column: 1;
    max-width: 5;

    border-radius: 50%;
    accent-color: rgba(0, 255, 0, .5);
}




.bookCard>p:nth-child(1){
    grid-column: 1/3;
    grid-row:1;
} 

.bookCard>p:nth-child(2){
    grid-column: 1/3;
    grid-row: 2;
} 

.bookCard>p:nth-child(3){
    grid-column: 1/3;
    grid-row: 3;
} 

.bookCard>p:nth-child(4){
    grid-column: 1/3;
    grid-row: 4;
} 



/* Modal Dialog */
dialog::backdrop{
    backdrop-filter: blur(1px) ;
}

#bookField{
    
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-bottom: 10%;
    padding: 2%;

    min-width: 400px;

    /* removes gray border */
    border:none;
}


.required{
    background-color: red;
}